
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    DabeaV2
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/intern']">
          Intern
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/extern']">
          Extern
        </a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <cz-name-profile class="nav-link"></cz-name-profile>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" (click)="onClickLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
