
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="width: 8rem;" [routerLink]="['/intern/home']">
    DabeaV2
    <span *ngIf="loading" style="height: 28px; width: 28px;" class="spinner-border ml-1"></span>
  </a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/intern/traeger/suche']">
          Träger-Suche
        </a>
      </li>

      <!--<li class="nav-item">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/extern']">
          Extern
        </a>
      </li>-->

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <cz-name-profile class="nav-link"></cz-name-profile>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']" (click)="onClickLogout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
