
<!--<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active"
       [routerLink]="['info']">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       routerLinkActive="active"
       [routerLink]="['users']">Users</a>
  </li>

  ...

</ul>
<div class="tab-content">
  <div class="tab-pane active">
    <router-outlet></router-outlet>
  </div>
</div>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">
    Träger: <!--<strong>{{data.name}}</strong>-->
  </span>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['search']" [queryParams]="queryParams">
          Suche
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" *ngFor="let he of hes">
        <a class="nav-link" (click)="onClickGoHe(he)">
          {{he.name}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
