
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <span class="navbar-brand">
    HE: <strong>BlaBlub</strong>
  </span>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/intern/traeger/edit/he/']" [queryParams]="queryParamsWithoutHeId">
          Suchen
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['stamm']" [queryParams]="queryParams">
          Stammdaten
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['personal']" [queryParams]="queryParams">
          Personal
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['ue']" [queryParams]="queryParams">
          Untereinrichtugen
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
